*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background:#090418;
    color: azure;
    text-align: center;
}
.player{
    background: #060c24;
    padding: 100px;
    border-radius: 10px;
    border: 1px solid #4385b7;
    box-shadow: #c1c5c7;
}
h2{
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
}
h3{
    margin-bottom: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
}